<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>@(ViewData["Title"])</title>
    @RenderSection("Style", false)
</head>
<body id="body">
    <div class="page" id="app">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/Lib/vue.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Lib/vue.min.js"></script>
    </environment>
    @RenderSection("Script", false)
</body>
</html>