<h1>@(ViewBag.Result)</h1>
@section Script{
<script type="text/javascript">
    new Vue({
        el: "#app",
        data() {
            return {};
        },
        methods: {
            
        }
    });
</script>
}